########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{{ mdebug("any text or variable") }}

{%- for item in config %}
{{ item }}
{%- endfor %}
